<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="address" class="com.balaji.bean.Address">
		<constructor-arg value="1"></constructor-arg>
		<constructor-arg value="sklm"></constructor-arg>
	</bean>
	<bean id="employee" class="com.balaji.bean.Employee">
		<constructor-arg value="1001"></constructor-arg>
		<constructor-arg value="Balaji"></constructor-arg>
		<constructor-arg ref="address">
		</constructor-arg>
	</bean>
</beans>