<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="employeeDAO" class="com.balaji.crud.dao.EmployeeDAO"></bean>
   
   <bean id="employeeService" class="com.balaji.crud.service.EmployeeService">
       <property name="employeeDAO" ref="employeeDAO"></property>
   </bean>
   
   <bean id="employeeController" class="com.balaji.crud.controller.EmployeeController">
       <property name="employeeService" ref="employeeService"></property>
   </bean>
</beans>